/* Import 'Be Vietnam' font for consistent text aesthetics throughout the interface */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');
/* Colour Palette */
:root {
    --primary-purple: #5E3984;
    --primary-blue: #202F72;
    --darker-blue: #172564;
    --darker-purple: #53118F;
    --lighter-purple: #7843CF;
    --border-purple: #9064DF;
    --dark-gray: #2A2A2A;
}
/* Global Body: colours, positions, margins, etc.  */
body {
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0;
}
body::-webkit-scrollbar {
    display: none;
}
/* Extendable Layout Styling */
header {
    background-color: var(--primary-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem 1.7rem;
}
.logo {
    max-width: 12.8rem;
}
.home {
    width: 35px;
    height: 35px;
    object-fit: contain;
}
.navbar .navlinks a.logout {
    color: red;
}
.navbar .navlinks {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2.5rem;

    margin: 0;
    padding: 0;
}
.navbar a:hover {
    box-shadow: inset 0 -5px 0 white;
}
.navbar a.active {
    background-color: var(--darker-blue);
}
.navbar a.active:hover {
    background-color: var(--border-purple);
}
.navbar .navlinks a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding-bottom: 8px;
}
.navbar .navlinks li {
    display: flex;
    align-items: center;
}
.profile-button {
    display: block;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 5px solid var(--darker-blue);
    object-fit: cover;
}
footer {
    position: absolute;
    width: 100%;
    font-size: 1.7rem;
    background-color: var(--darker-blue);
    color: white;
    text-align: center;
    min-height: 11.2rem;
}
.copyright {
    display: flex;
    margin-left: 8.5rem;
    margin-top: 4.5rem;
}

/* Index Styling (home page) */
.welcome {
    margin-left: 8.5rem;
    text-decoration: underline;
}
.index-header {
    grid-column: 1 / span 3;
    justify-self: center;
    text-align: center;
    height: 0.3rem;
    width: 26.5rem;
    color: white;
    font-size: 3.4rem;
    margin-top: 0.3rem;
}
.index-container {
    background-color: var(--primary-purple);
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    border-radius: 50px;
    max-width: 68.3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    margin: 0 auto 3.7rem auto;
    padding: 20px;
}
.index-card-container {
    background-color: var(--darker-blue);
    border-radius: 35px;
    border: 5px solid black;
    min-height: 18.7rem;
}
.index-card-container img {
    margin-bottom: 1.5rem;
    max-width: 12.8rem;
    border-radius: 35px;
    overflow: hidden;
}

/* Global Styling */
img {
    max-width: 100%;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Authentication Styling (login and register pages) */
.auth-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--primary-purple);
}
.auth-card {
    text-align: center;
    padding: 3rem 2.5rem;
    color: white;
    border: 8px solid black;
    border-radius: 10px;
    background-color: var(--lighter-purple);
}
.auth-title {
    font-size: 4.27rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0.3rem;
}
.input-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 0.3rem;
}
.auth-input {
    margin: 0;
    padding-left: 0.42rem;
    color: white;
    background: transparent;
    font-family: 'Be Vietnam Pro', sans-serif;
    min-height: 1.8rem;
    width: 100%;
    border: 3px solid var(--border-purple);
    border-radius: 50px;
}
.auth-input::placeholder {
    color: white;
    font-size: 0.85rem;
}
.auth-input:focus {
    outline: none;
}
.input-icon {
    position: absolute;
    max-width: 1.7rem;
    transform: translateY(-50%);
    right: 0.42rem;
    top: 50%;
}
.auth-button {
    font-family: 'Be Vietnam Pro', sans-serif;
    width: 100%;
    border: none;
    font-size: 1.7rem;
    min-height: 1.8rem;
    padding: 0.6rem;
    margin-top: 0.3rem;
    color: var(--dark-gray);
    background-color: white;
    border-radius: 50px;
    cursor: pointer;
}
.auth-button:hover {
    background-color: #E0E0E0;
}
.auth-card-link {
    color: var(--primary-purple);
}

/* Error 404 Page Styling */
.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.error-title {
    font-size: 6rem;
}
.error-message {
    font-size: 4.27rem;
}
.error-button {
    font-size: 3.4rem;
    margin-bottom: 0.6rem;
    padding: 0.3rem 1.7rem;
    background-color: var(--primary-blue);
    color: white;
    border-radius: 50px;
    text-decoration: none;
}

/* Account Information Styling (My Profile and User page) */
.profile-container {
    display: flex;
    justify-content: center;
}
.profile-card {
    margin: 1.8rem 0;
    padding: 3.7rem 2.5rem;
    width: 42.7rem;
    text-align: center;
    border: 5px solid black;
    border-radius: 35px;
}
.profile-picture {
    width: 300px;
    height: 300px;
    border-radius: 1.7rem;
    object-fit: cover;
}
.profile-info {
    display: flex;
    gap: 2.5rem;
    align-items: flex-start;
    text-align: left;
}
.username {
    text-decoration: underline;
}
.profile-divider {
    border-top: 3px solid black;
    margin: 2rem 0;
}
.profile-reviews {
    display: flex;
    gap: 1.5rem;
    align-items: flex-start;
    border: 3px solid black;
    border-radius: 20px;
    padding: 1rem;
    margin-bottom: 1.5rem;
    text-align: left;
}
.profile-reviews-cover {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid black;
    border-radius: 10px;
}
.profile-reviews-right {
    flex: 1;
}
.profile-reviews-right h3 {
    margin-top: 0;
}

/* Content Styling (albums page and artists page) */
.page-header-container {
    display: flex;
    justify-content: center;
}
.page-header {
    text-align: center;
    color: white;
    background-color: var(--lighter-purple);
    width: min(68rem, 90vw);
    height: 4.5rem;
    font-size: 3.4rem;
    border: 5px solid black;
    border-radius: 20px;
    margin-top: 0.3rem;
}
.content-container {
    background-color: var(--primary-purple);
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    border-radius: 50px;
    max-width: 68.3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    margin: 0 auto;
    margin-bottom: 3.7rem;
}
.content-card img {
    margin-bottom: 1.5rem;
    max-width: 12.8rem;
    border-radius: 35px;
    overflow: hidden;
    border: 5px solid black;
}
.content-header {
    font-size: 1.45rem;
    color: white;
}

/* Information Styling (individual albums page and individual artists page) */
.album-container {
    display: flex;
    justify-content: center;
    min-height: 33.7rem;
}
.album-card {
    margin: 1.8rem 0;
    width: 51.2rem;
    text-align: center;
    border: 5px solid black;
    border-radius: 35px;
}
.album-header {
    text-decoration: underline;
}
.album-cover {
    width: 300px;
    height: 300px;
    margin-left: 3.4rem;
    border-radius: 1.7rem;
    object-fit: cover;
    border: 3px solid black;
}
.album-info {
    display: flex;
    gap: 2.5rem;
    align-items: flex-start;
    text-align: left;
}
.album-about {
    width: 24.8rem;
}
.review-buttons-container {
    display: flex;
    align-items: flex-start;
    text-align: center;
    gap: 0.85rem;
}
.review-buttons {
    color: black;
    text-decoration: none;
    padding: 0.6rem;
    font-size: 1.45rem;
    border: 3px solid black;
    border-radius: 35px;
}
.artist-info {
    max-width: 68.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.8rem auto;
    border: 5px solid black;
    border-radius: 35px;
}
.discography {
    grid-column: 1 / span 3;
    color: white;
    font-size: 4.27rem;
    text-decoration: underline;
}

/* Review Styling (Write a Review for an individual album page) */
.review-container {
    display: flex;
    justify-content: center;
}
/* Reviews Styling (Read reviews for an individual album page) */
.reviews-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 33.7rem;
    gap: 2rem;
    margin-bottom: 1.8rem;
}
.reviews-card {
    display: flex;
    gap: 2rem;
    width: 64rem;
    padding: 2rem;
    border: 5px solid black;
    border-radius: 35px;
}
.review-left {
    width: 100px;
    display: flex;
    justify-content: center;
}
.review-profile-picture {
    width: 80px;
    height: 80px;
    border: 3px solid black;
    border-radius: 50%;
    object-fit: cover;
}
.review-right {
    flex: 1;
    text-align: left;
}
.review-right h2 {
    margin-top: 0;
}