<!-- Extend the layout.html file onto the albums page -->
{% extends "layout.html" %}
<!-- Set the page title that displays on the tab -->
{% block title%}On Repeat - Albums{% endblock %}
<!-- Albums page main content block -->
{% block content %}
<!-- Data display -->
        {% for album in albums %}
            <a href="{{ url_for('albums',id=album['album_id']) }}">
                <!-- Album name then album cover -->
                <h1 style="text-align: center;">{{ album['album_title'] }}</h1>
                <img src="{{ url_for('static', filename='images/' + album['album_cover'])}}" alt="{{ album['album_title'] }}">
            </a>
        {% endfor %}
{% endblock %}