<!-- Extend the layout.html file onto the Albums page -->
{% extends "layout.html" %}
<!-- Set the page title that displays on the tab -->
{% block title %}On Repeat - {{ album['album_title'] }}{% endblock %}
<!-- One album page main content block -->
{% block content %}
<!-- Album cards -->
<div class="album-container">
    <div class="album-card">
        <h1 class="album-header">{{ album['album_title'] }} <em>({{ album['release_year'] }})</em></h1>
        <div class="album-info">
            <div class="album-left">
                <img class="album-cover" src="{{ url_for('static', filename='images/' + album['album_cover'])}}" alt="{{ album['album_title'] }}{% if album['album_title'].endswith('s') %}'{% else %}'s{% endif %} album cover">
            </div>
            <div class="album-right">
                <p>Artist: <b><em>{{ album['artist_name'] }}</em></b></p>
                <p>Release Year: <b><em>{{ album['release_year'] }}</em></b></p>
                <p>Average Rating: <b><em>{{ album['average_rating'] }}/10</em></b></p>
                <p class="album-about">About Album: <b><em>{{ album['album_description'] }}</em></b></p>
                <div class="review-buttons-container">
                    {% if current_user %}
                        <a class="review-buttons" href="{{ url_for('review', id=album['album_id']) }}">
                            Write a Review
                        </a><br>
                    {% else %}
                        <a class="review-buttons" href="{{ url_for('login') }}">Login to review</a>
                    {% endif %}
                    <a class="review-buttons" href="{{ url_for('reviews', id=album['album_id']) }}">
                        Read Reviews
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}