<!-- Extend the layout.html file onto the albums page -->
{% extends "layout.html" %}
<!-- Set the page title that displays on the tab -->
{% block title %}On Repeat - {{ album['album_title'] }}{% endblock %}
<!-- One album page main content block -->
{% block content %}
<!-- Album cards -->
<div class="album-container">
    <div class="album-card">
        <h1 class="album-header">{{ album['album_title'] }}</h1>
        <div class="album-info">
            <div class="album-left">
                <img class="album-cover" src="{{ url_for('static', filename='images/' + album['album_cover'])}}" alt="{{ album['album_title'] }}">
            </div>
            <div class="album-right">
                <p> Release Year: {{ album['release_year'] }}</p>
                {% if current_user %}
                    <a class="review-button" href="{{ url_for('review', id=album['album_id']) }}">
                        Write a Review
                    </a>
                {% else %}
                    <p>Login to leave a review</p>
                {% endif %}
                <a class="reviews-button" href="{{ url_for('review', id=album['album_id']) }}">
                    Read Reviews
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}