<!-- Extend the layout.html file onto the artists page -->
{% extends "layout.html" %}
<!-- Set the page title that displays on the tab -->
{% block title %}On Repeat - Artists{% endblock %}
<!-- Artists page main content block -->

{% block content %}
<!-- Data display -->
<div class="page-header-container">
    <h1 class="page-header">Artists</h1>
</div>
<div class="content-container">
    {% for artist in artists %}
        <a href="{{ url_for('artist',id=artist['artist_id']) }}">
            <!-- Artist name then artist image -->
            <div class="content-card">
                <h1 class="content-header">{{ artist['artist_name'] }}</h1>
                <img src="{{ url_for('static', filename='images/' + artist['artist_image'])}}" alt="{{ artist['artist_name'] }}">
            </div>
        </a>
    {% endfor %}
</div>
{% endblock %}