<!-- Extend the layout.html file onto the Review Editor page -->
{% extends "layout.html" %}
<!-- Set the page title that displays on the tab -->
{% block title %}On Repeat - Edit Review{% endblock %}
<!-- Edit Review page main content block -->
{% block content %}
<div class="page-header-container">
    <h1 class="page-header">Edit Review</h1>
</div>
<div class="album-container">
    <div class="album-card">
        <h1 class="album-header">{{ review['album_title'] }} <em>({{ review['release_year'] }})</em></h1>
        <div class="album-info">
            <div class="album-left">
                <img class="album-cover" src="{{ url_for('static', filename='images/' + review['album_cover'])}}" alt="{{ review['album_title'] }}{% if review['album_title'].endswith('s') %}'{% else %}'s{% endif %} album cover">
            </div>
            <div class="album-right">
                {% if error %}
                    <p class="error">{{ error }}</p>
                {% endif %}
                <p>Artist: {{ review['artist_name'] }}</p>
                <p>Release Year: {{ review['release_year'] }}</p>
                <p>
                    <b>Average Rating:</b>
                    {% if average_rating is not none %}
                        <em>{{ "%.1f"|format(average_rating) }}/10</em>
                    {% else %}
                        <em>No ratings yet!</em>
                    {% endif %}
                </p>
                <form method="POST" autocomplete="off">
                    <label for="rating">Rating (0.1-10.0)</label><br>
                    <input type="number" id="rating" name="rating" min="0.1" max="10.0" step="0.1" value="{{ review['rating'] }}" required><br>
                    <label for="review_text">Review</label><br>
                    <textarea id="review_text" name="review_text" rows="8" cols="50" required>{{ review['review_text'] }}</textarea>
                    <button type="submit">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}