<!-- Extend the layout.html file onto the Home page -->
{% extends "layout.html" %}
<!-- Set the page title that displays on the tab -->
{% block title %}On Repeat - Home{% endblock %}
<!-- Home page main content block -->

{% block content %}
{% if current_user %}
    <h1 class="welcome">Welcome to On Repeat, {{ current_user['username'] }}!</h1>
{% else %}
    <h1 class="welcome">Welcome to On Repeat, Guest!</h1>
{% endif %}
<div class="index-container">
    <h1 class="index-header">Popular Albums</h1>
    {% for album in albums[:6] %}
        <a href="{{ url_for('album',id=album['album_id']) }}">
            <!-- Album name then album cover -->
            <div class="index-card">
                <div class="index-card-container">
                    <h1 class="content-header">{{ album['album_title'] }}</h1>
                    <img class="index-card" src="{{ url_for('static', filename='images/' + album['album_cover'])}}" alt="{{ album['album_title'] }}">
                </div>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock %}