<!-- Layout HTML file that will be extended across all pages. Provides favicon, logo, header, navbar, and footer. -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Block which will set the title of each page -->
    <title>{% block title %}{% endblock %}</title>
    <!-- Link the CSS file to the layout file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <link rel="icon" type="image/x-icon" href="static/images/favicon.png">
</head>
<body>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>