<!-- Layout HTML file that will be extended across all pages. Provides favicon, logo, header, navbar, and footer. -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Block which will set the title of each page -->
    <title>{% block title %}{% endblock %}</title>
    <!-- Link the CSS file to the layout file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.png') }}">
</head>
<body>
    <header>
        <a href="{{ url_for('home') }}"><img class="logo" src="{{ url_for('static', filename='images/logo.png')}}" alt = "On Repeat Logo"></a>
        <!-- Logo that leads to the home page (index) when clicked. It will appear on every page -->
        <nav class="navbar">
            <!-- Navbar of clickable links to other pages -->
            <div class="navlinks">
                <li><a href="{{ url_for('albums')}}" class="{% if active_page=='albums' %}active{% endif %}">Albums</a></li>
                <li><a href="{{ url_for('artists')}}" class="{% if active_page=='artists' %}active{% endif %}">Artists</a></li>
                {% if session['user_id'] %}
                    <li><a href="{{ url_for('profile') }}">My Profile</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}" class="{% if active_page=='profile' %}active{% endif %}">Login</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
            </div>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>&copy; On Repeat 2026</footer> <!-- Sets the footer of my website -->
</body>
</html>