<!-- Single page for account logins, won't extend layout.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>On Repeat - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.png') }}">
</head>
<body class="auth-body">
    <div class="auth-card">
        <h1 class="auth-title">Login</h1>
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
        <form method="POST">
            <div class="input-wrapper">
                <input class="auth-input" type="text" name="username" placeholder="Username" required>
                <img class="input-icon" src="{{ url_for('static', filename='images/user.png') }}" alt="user icon">
            </div>
            <div class="input-wrapper">
                <input class="auth-input" type="password" name="password" placeholder="Password" required>
                <img class="input-icon" src="{{ url_for('static', filename='images/lock.png') }}" alt="lock icon">
            </div>
            <button class="auth-button" type="submit">Login</button>
        </form>
        <p>Don't have an account? <a class="auth-card-link" href="{{ url_for('register') }}">Register here!</a></p>
    </div>
</body>
</html>