<!-- Extend the layout.html file onto the Review Creation page -->
{% extends "layout.html" %}
<!-- Set the page title that displays on the tab -->
{% block title %}On Repeat - Review {{ album['album_title'] }}{% endblock %}
<!-- Write A Review page main content block -->
{% block content %}
<div class="page-header-container">
    <h1 class="page-header">Album Review</h1>
</div>
<div class="album-container">
    <div class="album-card">
        <h1 class="album-header">{{ album['album_title'] }} <em>({{ album['release_year'] }})</em></h1>
        <div class="album-info">
            <div class="album-left">
                <img class="album-cover" src="{{ url_for('static', filename='images/' + album['album_cover'])}}" alt="{{ album['album_title'] }}">
            </div>
            <div class="album-right">
                <p> Release Year: {{ album['release_year'] }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}